@media only screen   
and (min-device-width : 200px)
and (max-device-width : 641px)  {

    :root {
         font-size: 10px;
    }

	#status {
		margin-left: 10vw;
		margin-right: 10vw;
	}

	.project_description  {
		width: 80vw;
	}

	.list_container ul li {
		max-width: 70vw;	
	}

	#slideshow_container {
		width: 90vw;
	}

	footer {
		margin-bottom: 11vh;
	}

	#contact_word {
		margin-left: 6vw;
	}

	footer .link_container_1 {
		margin-left: 2%;
	}

	footer .contact_container {
		margin-top: 0.5vh;
		margin-left: 10vw;
	}

	.project_container {
		margin-bottom: 1vh;
	}

	#my_photo_container {
		margin-top: 3vh;
	}

	#my_photo {
		transform: rotateX(5deg) rotateY(-4deg);
	}

	.header_container {
		 justify-content: space-around;
	}

	#name_header {
		box-shadow: 0px -9px var(--main-color);          
	}

	#name_footer {
		box-shadow: 0px 9px var(--main-color);   
	}

	.card_project_container {
	  transform: rotateX(6deg) scale(0.85);
	}

	.photo {
	  filter: drop-shadow(0px 0px 0.6vh var(--main-color));
	}
}
