#slideshow_container {
  width: 40vw;
  height: 70vh;
  position: relative;
  margin: auto;
  margin-top: 2vh;
  display: block;
}

.photo {
  position: relative;
  margin: auto;
  display: block;
  max-height: 70vh;
  max-width: 90vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
  filter: drop-shadow(0vh 0vh 1.5vh var(--main-color));
}


@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.project_description {
  color: #ebebeb;
  font-family: 'a_FuturaRound', arial;
  width: 50vw;  
  position: relative;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.7rem;
  margin-top: 0;
  line-height: 2.2rem;
}

.margin_bottom {
  margin-bottom: 6vh;
}

#status {
  display: block;
  position: relative;
  color: #B4B4B4;
  text-align: center;
  margin-top: 0.8vh;
  font-family: 'Times New Roman', serif;
  font-style: italic;
  font-size: 1.4rem;
}



.text_typing {
    width: 70vw;
    overflow: hidden;
    -webkit-animation: type 1.5s steps(50, end);
    animation: type 1.5s steps(50, end);
}

@keyframes type {
    from { width: 0; }
}
 
@-webkit-keyframes type {
    from { width: 0; }
}

